<h3>Alterar departamento</h3>

<div>
  <%= form_tag :action => "edit" do %>
    Nome do departamento: <br>
    <%= text_field(:departamento, :nomeDepartamento, class: "form-control form-control-sm") %> <br/>
    Abreviação: <br> 
    <%= text_field(:departamento, :abreviacao, class: "form-control form-control-sm", maxlength: "3", minlength: "3", title: "Use três caracteres para a abreviação!") %> <br>
    Situação: <br>
    <%= collection_select(:departamento, :situacao_id, Situacao.all, :id, :situacao, { include_blank: "Selecione a situação" }, class: "btn btn-primary btn-sm dropdown-toggle") %> <br> <br>
    <%= submit_tag("Salvar", class: "btn btn-primary btn-sm") %> <%= link_to("Voltar", {action: "index"}, class: "btn btn-primary btn-sm")%>
  <% end %>
</div>