<html>
  <head>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Gestor | ForBusiness</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'departamento' %>
    <%= stylesheet_link_tag    'admins_backoffice' %>

    <style type="text/css">/* Chart.js */
      @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}
    </style>
  </head>

  <body>
    <h1>Departamentos</h1>

    <table class="table table-striped table-hover">
        <tr class="text-center active">
            <th>Id Departamento</th>
            <th>Nome do departamento</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>

    <% @departamento.each do |d| %>
        <tr class="text-center">
            <td> <%= d.id %> </td>
            <td> <%= d.nomeDepartamento %> </td>
            <td> <%= link_to image_tag("edit.png"), action: "edit", id: d %> </td>
            <td> <%= link_to image_tag("del.png"), action: "delete_departamento", id: d %> </td>
        </tr>
    <% end %>
    </table>
    <br>
    <div>
        Adicionar Departamento: 
          <td><%= link_to image_tag("new.png"), controller: "departamento", action: "new" %> </td> 
    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'departamento' %>

  </body>

</html>