<body id="page-top">

  <div class="container-fluid">
  <h2>Tarefas Pendentes por Departamento</h2>
  <br>
  <!-- Content Row -->
  <div class="row">

  <!-- Folha -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Folha de Pagamento</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"> <%= @pendentesFolha['contagem'] %> </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Escrita Fiscal</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"> <%= @pendentesEscrita['contagem'] %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Ativo</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"> <%= @pendentesAtivo['contagem'] %> </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Pagamento e Recebimento</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"> <%= @pendentesPagamentoRecebimento['contagem'] %> </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Estoque</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"> <%= @pendentesEstoque['contagem'] %> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      
</body>

</html>