<h1>Cadastrar tarefa</h1>

<%= form_tag :action => "create" do %>
    Data de vencimento: <%= date_field :fato, :dataVencimentoTarefa %> <br>
    Status: <%= text_field :fato, :statusTarefa %> <br>
    <%= collection_select(:fato, :empresa_id, Empresa.all, :id, :nomeEmpresa, { include_blank: "Selecione a empresa" }) %> <br>
    <%= collection_select(:fato, :tarefa_id, Tarefa.all, :id, :nomeTarefa, { include_blank: "Selecione a tarefa" }) %> <br>
    <%= submit_tag "Criar" %>
<% end %>