<h1>Colaboradores</h1>

<table class="table table-striped table-hover">
    <tr>
        <th>Id Colaborador</th>
        <th>Nome do colaborador</th>
        <th>CPF</th>
        <th>Departamento</th>
    </tr>

<% @colaborador.each do |c| %>
    <tr>
        <td> <%= c.id %> </td>
        <td> <%= c.nomeColaborador %> </td>
        <td> <%= c.cpfColaborador %> </td>
        <td> <%= c.departamento.nomeDepartamento %> </td>
        <td> <%= link_to "Editar", action: "edit", id: c %> </td>
        <td> <%= link_to "Apagar", action: "delete_colaborador", id: c %> </td>
    </tr>
<% end %>
</table>

<br>

<%= link_to "Cadastrar novo colaborador", controller: "colaborador", action: "new" %>