<h1>Colaboradores</h1>

<div class="table-responsive">
  	<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <tr>
            <th>Id Colaborador</th>
            <th>Nome do colaborador</th>
            <th>CPF</th>
            <th>Departamento</th>
        </tr>

        <% @colaborador.each do |c| %>
            <tr>
                <td> <%= c.id %> </td>
                <td> <%= c.nomeColaborador %> </td>
                <td> <%= c.cpfColaborador %> </td>
                <td> <%= c.departamento.nomeDepartamento %> </td>
                <td> <%= link_to("", {action: "edit", id: c}, class: "fas fa-edit fa-lg") %> </td>
          		<td> <%= link_to("", {action: "delete_colaborador", id: c}, class: "fas fa-trash-alt fa-lg") %> </td>
            </tr>
        <% end %>
    </table>
<br>
<div>
	<%= link_to("Novo colaborador", {controller: "colaborador", action: "new"}, class: "btn btn-primary btn-sm") %> </td> 
</div>