<<<<<<< HEAD
<h1>Colaboradores</h1>

<div class="table-responsive">
  	<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <tr>
=======
<html>
  <head>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Gestor | ForBusiness</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'departamento' %>
    <%= stylesheet_link_tag    'admins_backoffice' %>

    <style type="text/css">/* Chart.js */
      @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}
    </style>
  </head>

  <body>
    <h1>Colaboradores</h1>

    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <tr class="text-center  ">
>>>>>>> 5d1597fb27a3f66b5808890d8645fc995591b8e4
            <th>Id Colaborador</th>
            <th>Nome do colaborador</th>
            <th>CPF</th>
            <th>Departamento</th>
        </tr>

<<<<<<< HEAD
        <% @colaborador.each do |c| %>
            <tr>
                <td> <%= c.id %> </td>
                <td> <%= c.nomeColaborador %> </td>
                <td> <%= c.cpfColaborador %> </td>
                <td> <%= c.departamento.nomeDepartamento %> </td>
                <td> <%= link_to("", {action: "edit", id: c}, class: "fas fa-edit fa-lg") %> </td>
          		<td> <%= link_to("", {action: "delete_colaborador", id: c}, class: "fas fa-trash-alt fa-lg") %> </td>
            </tr>
        <% end %>
    </table>
<br>
<div>
	<%= link_to("Novo colaborador", {controller: "colaborador", action: "new"}, class: "btn btn-primary btn-sm") %> </td> 
</div>
=======
    <% @colaborador.each do |c| %>
        <tr>
            <td> <%= c.id %> </td>
            <td> <%= c.nomeColaborador %> </td>
            <td> <%= c.cpfColaborador %> </td>
            <td> <%= c.departamento.nomeDepartamento %> </td>
            <td> <%= link_to "Editar", action: "edit", id: c %> </td>
            <td> <%= link_to "Apagar", action: "delete_colaborador", id: c %> </td>
        </tr>
    <% end %>
    </table>

    <br>

    <%= link_to "Cadastrar novo colaborador", controller: "colaborador", action: "new" %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'departamento' %>

  </body>
</html>
>>>>>>> 5d1597fb27a3f66b5808890d8645fc995591b8e4
