<h1>Empresas</h1>

<% a = "2019-2-2"%>
<% a = a[-2, 2]%>

<%= a %>

<div class="table-responsive">
  	<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    	<tr>
			<th>Nome da empresa</th>
			<th>CNPJ</th>
			<th>Status</th>
			<th>Editar</th>
			<th>Excluir</th>
    	</tr>
  		<% @empresa.each do |e| %>
    		<tr class="text-center active">
				<td> <%= e.nomeEmpresa %> </td>
				<td> <%= e.cnpjEmpresa %> </td>
				<td> <%= e.situacao.situacao %> </td>
				<td> <%= link_to("", {action: "edit", id: e}, class: "fas fa-edit fa-lg") %> </td>
          		<td> <%= link_to("", {action: "delete_empresa", id: e}, class: "fas fa-trash-alt fa-lg") %> </td>
			</tr>
  		<% end %>
	</table>
<br>
<div>
	<%= link_to("Nova empresa", {controller: "empresa", action: "new"}, class: "btn btn-primary btn-sm") %> </td> 
</div>