<h1>Empresas</h1>

<table class="table table-striped table-hover">
    <tr>
        <th>Id Empresa</th>
        <th>Nome da empresa</th>
        <th>CNPJ</th>
        <th>Status</th>
    </tr>

<% @empresa.each do |e| %>
    <tr>
        <td> <%= e.id %> </td>
        <td> <%= e.nomeEmpresa %> </td>
        <td> <%= e.cnpjEmpresa %> </td>
        <td> <%= e.statusEmpresa %> </td>
        <td> <%= link_to "Editar", action: "edit", id: e %> </td>
        <td> <%= link_to "Apagar", action: "delete_empresa", id: e %> </td>
    </tr>
<% end %>
</table>

<br>

<%= link_to "Cadastrar nova empresa", controller: "empresa", action: "new" %>