<h3>Nova Empresa</h3>

  <div>
    <%= form_tag :action => "create" do %>
      Nome da empresa: <%= text_field(:empresa, :nomeEmpresa, class: "form-control form-control-sm") %> <br/>
      CNPJ: <%= text_field(:empresa, :cnpjEmpresa, class: "form-control form-control-sm") %> <br/>
      Status: <%= text_field(:empresa, :statusEmpresa, class: "form-control form-control-sm") %> <br/>
      <%= submit_tag("Salvar", class: "btn btn-primary btn-sm") %> <%= link_to("Voltar", {action: "index"}, class: "btn btn-primary btn-sm")%>
    <% end %>
  </div>