<h1>Editar tarefa</h1>

<%= form_tag :action => "edit" do %>
    Nome da tarefa:
    <%= text_field(:tarefa, :nomeTarefa, class: "form-control form-control-sm") %> <br>
    Situação: <br>
    <%= collection_select(:tarefa, :situacao_id, Situacao.all, :id, :situacao, { include_blank: "Selecione a situação" }, class: "btn btn-primary btn-sm dropdown-toggle") %> <br> <br>
    Departamento: <br>
    <%= collection_select(:tarefa, :departamento_id, Departamento.all, :id, :nomeDepartamento, { include_blank: "Selecione o departamento" }, class: "btn btn-primary btn-sm dropdown-toggle") %> <br> <br>
    <%= submit_tag("Salvar", class: "btn btn-primary btn-sm") %> <%= link_to("Voltar", {action: "index"}, class: "btn btn-primary btn-sm")%>
<% end %>