<!DOCTYPE html>
<html>
  <head>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Usuário | ForBusiness</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 

    <%= stylesheet_link_tag    'users_backoffice' %>
    <!-- Custom fonts for this template-->

    <style type="text/css">/* Chart.js */
    </style>
  </head>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
          <%= image_tag("AVG Branco", size: "100x50") %>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <%= link_to users_backoffice_welcome_index_path, class:"nav-link" do %>
              <i class="fa fa-dashboards"></i>
              <span>Dashboard</span>
            <% end %>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Departamentos
        </div>

          <!-- Area com separação de departamentos e tarefas  -->
          <li class="nav-item active">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwoFolha" aria-expanded="true" aria-controls="collapseTwoFolha">
              <i class="fa fa-users"></i>
              <span>Folha de Pagamento</span>
            </a>
            <div id="collapseTwoFolha" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Status:</h6>
                <%= link_to "Tarefas concluídas", {controller: "fato", action: "index", departamento_id: 1, status_id: 1}, class: "collapse-item" %>
                <%= link_to "Tarefas pendentes", {controller: "fato", action: "index", departamento_id: 1, status_id: 2}, class: "collapse-item" %> 
              </div>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwoEscrita" aria-expanded="true" aria-controls="collapseTwoEscrita">
              <i class="fa fa-users "></i>
              <span>Escrita Fiscal</span>
            </a>
            <div id="collapseTwoEscrita" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Status:</h6>
                <%= link_to "Tarefas concluídas", {controller: "fato", action: "index", departamento_id: 2, status_id: 1}, class: "collapse-item" %>
                <%= link_to "Tarefas pendentes", {controller: "fato", action: "index", departamento_id: 2, status_id: 2}, class: "collapse-item" %>
              </div>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwoAtivo" aria-expanded="true" aria-controls="collapseTwoAtivo">
              <i class="fa fa-users "></i>
              <span>Ativo Fixo</span>
            </a>
            <div id="collapseTwoAtivo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Status:</h6>
                <%= link_to "Tarefas concluídas", {controller: "fato", action: "index", departamento_id: 3, status_id: 1}, class: "collapse-item" %>
                <%= link_to "Tarefas pendentes", {controller: "fato", action: "index", departamento_id: 3, status_id: 2}, class: "collapse-item" %>
              </div>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwoPagamentos" aria-expanded="true" aria-controls="collapseTwoPagamentos">
              <i class="fa fa-users "></i>
              <span>Pgto/ Recebimento</span>
            </a>
            <div id="collapseTwoPagamentos" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Status:</h6>
                <%= link_to "Tarefas concluídas", {controller: "fato", action: "index", departamento_id: 4, status_id: 1}, class: "collapse-item" %>
                <%= link_to "Tarefas pendentes", {controller: "fato", action: "index", departamento_id: 4, status_id: 2}, class: "collapse-item" %>
              </div>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwoEstoque" aria-expanded="true" aria-controls="collapseTwoEstoque">
              <i class="fa fa-users "></i>
              <span>Estoque</span>
            </a>
            <div id="collapseTwoEstoque" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Status:</h6>
                <%= link_to "Tarefas concluídas", {controller: "fato", action: "index", departamento_id: 5, status_id: 1}, class: "collapse-item" %>
                <%= link_to "Tarefas pendentes", {controller: "fato", action: "index", departamento_id: 5, status_id: 2}, class: "collapse-item" %>
              </div>
            </div>
          </li>

        <!-- Divider 
        <hr class="sidebar-divider">

        <!--Heading
        <div class="sidebar-heading">
          Addons
        </div>

        <!--Nav Item - Pages Collapse Menu 
        <li class="nav-item active">
          <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
          </a>
          <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Login Screens:</h6>
              <a class="collapse-item" href="login.html">Login</a>
              <a class="collapse-item" href="register.html">Register</a>
              <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
              <div class="collapse-divider"></div>
              <h6 class="collapse-header">Other Pages:</h6>
              <a class="collapse-item" href="404.html">404 Page</a>
              <a class="collapse-item active" href="blank.html">Blank Page</a>
            </div>
          </div>
        </li>

        <!-- Nav Item - Charts 
        <li class="nav-item">
          <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
        </li>

        <!-- Nav Item - Tables 
        <li class="nav-item">
          <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
        </li>
  -->
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>


            <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
              <div class="input-group">
                
              </div>
            </form>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>

              <!-- Nav Item - Alerts -->
              <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  
                  <!-- Counter - Alerts -->
                  
                </a>
                <!-- Dropdown - Alerts -->
              
              </li>

              <!-- Nav Item - Messages -->
              <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  
                  <!-- Counter - Messages -->
                  
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                  </div>
              </li>

              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_user.email %></span>
                      <%= image_tag 'user.png', class:"img-profile rounded-circle" %>
                  </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fa fa-sign-out fa-fw"></i>
                    Sair
                  </a>
                </div>
              </li>

            </ul>

          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <!-- Page Heading -->
            
            <%= yield %>

          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; AVG Devs 2019</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pronto para partir?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Selecione "Sair" abaixo se você estiver pronto para terminar sua sessão atual.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
              <%= link_to "Sair", destroy_user_session_path, method: :delete, class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
    
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'users_backoffice' %>

  </body>
</html>